<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.springframework.messaging" level="TRACE"/>-->
    <!--<logger name="org.springframework.security" level="TRACE"/>-->
    <!--<logger name="gov.sciencebase.files.upload.status.S3PutObjectRequestListener" level="TRACE"/>-->
    <logger name="com.amazonaws.services.s3.transfer" level="TRACE"/>
</configuration>